body {
  font-family: sans-serif;
}
.product {
  margin: 5px;
  border: 5px solid black;
}
.product-title {
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 15px;
}

.price {
  font-size: 24px;
  margin: 0;
}
.shipping {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}
.img {
  width: 40%;
}
.shipping {
  color: #676565;
}
.details-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

li {
  list-style: square;
  font-size: 13px;
  line-height: 1.5;
}
.tag {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}
.add-cart {
  background-color: black;
  color: #f7f7f7;
  border: none;
  width: 100%;
  text-transform: uppercase;
  height: 40px;
}
a:hover {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
.container {
  width: 800px;
  margin: 0 auto;
}
